<section class="spotlight"><h3>Media Spotlight <%= @top_overall.title %> by <%= @top_overall.creator %></h3>
	<p><%= @top_overall.get_vote_count %> - <%= @top_overall.description %></p>
</section>


<section class="top-ten-lists grid-x">

	<% @top_list.each do |category_type, works| %>
		<section class="cell large-auto">
		<h3><%= category_type.titlecase %>s</h3>
			<ul>
				<% works.each do |work| %>
					<li>
						<h4><%= work.title %> <small>by <%= work.creator %></small></li></h4>
						<p><%= work.get_vote_count %> votes</p>
					</li>
				<% end %>
			</ul>
		</section>
	<% end %>
</section>
