
<section class="form">
<%= form_for @passenger do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :category %>
  <%= f.text_field :category %>

<%= f.submit  %>

<% end %>
</section>
