
<section class="form">
<%= form_for @passenger do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :c %>
  <%= f.text_field :phone_num %>

<%= f.submit  %>

<% end %>
</section>
