<h3 class="page-header"><%= page_title %></h3>


  <%= form_for @work do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :category %>
    <%= f.select :category, @category_list %>
    <%= f.submit %>
  <% end %>
