<h1>Works List</h1>
<table>
	<thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
	<tbody>
		<% @works.each do |work|  %>
	    <tr>
	      <td><%= work.get_vote_count %></td>
	      <td><%= work.title %></td>
	      <td><%= work.creator %></td>
	      <td><%= work.publication_year %></td>
	      <td><%= link_to "Upvote" %></td>
	    </tr>
		<% end %>
  </tbody>
</table>
