<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Front Row Media Ranker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
  </head>

  <body>
    <header class="row">
      <h2><a href="/" class="site-name-in-header">Media Ranker</a>
      <small class="tagline-in-header">Ranking the Best of Everything</small></h2>
    <nav>
      <a class="button" href="/">View top media</a>
      <a class="button" href="/works">View all media</a>
      <a class="button" href="/works/new">Add a new work</a>
      <a class="button" href="/users">View all users</a>
      <a class="button right-nav-button" href="/login">Log In</a>
    </nav>
  </header>

    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <section class="callout <%= name %>">
            <p><%= message %></p>
          </section>
          <% end %>
      </section>
    <%= yield %>
    </main>
  </body>
</html>
