<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Front Row Media Ranker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "View top media", root_path %></li>
        <li><%= link_to "View all media", works_path %></li>
        <li><%= link_to "Add a new work", new_work_path %></li>
        <li><%= link_to "View all users", users_path %></li>
        <li><%= link_to "Log In" %></li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
