<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Front Row Media Ranker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
  </head>

  <body>
    <header class="row">
      <h2><a href="/" class="site-name-in-header">Media Ranker</a>
      <small class="tagline-in-header">Ranking the Best of Everything</small></h2>
      <nav>
        <a class="button" href="/">View top media</a>
        <a class="button" href="/works">View all media</a>
        <%= link_to "Add a work", new_work_path, class: "button" %>
        <a class="button" href="/users">View all users</a>
        <% @site_user = User.find_by(id: current_user) %>
        <% if !@site_user  %>
          <a class="button right-nav-button" href="/login">Log In</a>
        <% else %>
          <%= link_to "Log Out", logout_path, method: :delete, class: "button right-nav-button" %>
          <%= link_to "Logged in as #{@site_user.name}", user_path(@site_user.id), class: "button logged-in-button" %>
        <% end %>
      </nav>
    </header>

    <section class="alert-section">
      <% flash.each do |name, message| %>

        <% if message.respond_to?(:each) %>
          <section class="status <%= name %>">

          <h3>An error has occured.</h3>
          <ul>
            <% flash[:alert].each do |field, message| %>
              <li><%= field %>: <%= message.is_a?(String) ? message : message.pop %></li>
            <% end %>
          </ul>
        <% else %>
          <h3><%= message %></h3>
        <% end %>
        </section>
      <% end %>
    </section>

    <main>

      <%= yield %>
    </main>
  </body>

</html>
